<!-- Main container for the login and registration panel -->

<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
  <div class="container gap-3">  

    <!-- Explainer row containing introductory information -->                                                        
    <div class="row">
      <div class="col text-bg-dark bg-opacity-75"> 
        
        <h3>Mossletters: A Demo</h3>
        <p class="m-1">Welcome to the Mossletters Demo! If you know what you're doing, login with the forms on the left and full speed ahead. If 
        this is your first time, the following sections provide more information about the Demo.</p>
        

        <button class="btn btn-success w-100" type="button" data-bs-toggle="collapse" data-bs-target="#mosslettersIntro" aria-expanded="false" aria-controls="collapseExample">
          Using the Mossletters Demo
        </button>
        <div class="collapse" id="mosslettersIntro">
          <div class="card card-body text-bg-dark bg-opacity-75">
            <dl>
              <dt>Login View:</dt>
              <dd>To create an account please fill out the right panel, and observe the notice in the next section. You will be able 
                to use this on your next visit to login. If you are not logged in and attempt to access the other pages, you will be 
                brought back to this Login View. 
              </dd>

              <dt>User View:</dt>
              <dd>Once logged into your account, You can view your information in html, xml, or json and update your preferences as a 
              customer might in the User View. Your updates will be saved and you can view them by returning to this page, or on the 
              Admin View. If you wish, you may delete your account and this will remove it fully from the databses. </dd>

              <dt>Admin View:</dt>
              <dd>In the Admin View, you can act as an employee/administrator and pull a list of database entries which meet criteria 
              that you select. These results are visible in html, xml, or json formats. You can also lookup a user by their email 
              address and edit their account information. You can also delete a user from here, but please use one of the sample entries
              &lpar;they will be in the first 10 entries of any list pull&rpar; so that other users verifying persistence don't get the
              wrong impression</dd>
            </dl>
          </div>
        </div>

        <button class="btn btn-warning w-100" type="button" data-bs-toggle="collapse" data-bs-target="#securityNotice" aria-expanded="false" aria-controls="collapseExample">
          Important notice about security 
        </button>
        <div class="collapse show" id="securityNotice">
          <div class="card card-body text-bg-dark bg-opacity-75 text-warning">
            <p>Please use a fake name and credentials that you will recognize.</p>
            <p>Your data will be going into a real database and others will be able to see it on the admin page. If you want to verify the 
              persistence of your data, select something non-generic that you can remember. It is recommended to use the fictional top-level 
              domain <q>.fake</q> which, as you might have guessed, isn't real.</p>
            <p>Every Sunday at midnight Eastern US time &lpar;currently GMT-4&rpar; the database is cleared and then seeded with fake emails 
              entered by a robot. Not by real people. Data will not persist more than a week, nonetheless, please keep your real data safe 
              and make up something memorable for this. Close this notice by clicking it's title.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Row containing the login and registration forms -->
    <div class="row row-cols-sm-2">
      <!-- Login section -->
      <div class="col-sm-6 py-2">
        <div class="card rounded-top-5 h-100">
          <div class="card-header bg-success-subtle border border-success rounded-pill">
            <label for="frequency" class="form-label mb-0">Login:</label>
          </div>

          <div class="card-body">
            <!-- Login form -->
            <form action="/mossletters/login/authenticate" method="post">
              <label for="current-email">Email:</label>          
              <input type="text" id="current-email" name="current-email" autocomplete="email" class="form-control focus-ring focus-ring-warning">
              

              <label for="current-password">Password:</label>
              <input type="password" id="current-password" name="current-password" autocomplete="current-password" class="form-control focus-ring focus-ring-warning">

              <button type="submit" class="btn btn-success m-4" id="admin-login-button">
                Login
              </button>        
            </form> 
            <p>If you do not have a login, register for Mossletters right here! <i class="fa-solid fa-arrow-right-long"></i> </p>                         
          </div>   
        </div>
      </div>      
      <!-- Registration section -->    
      <div class="col-sm-6 py-2">
        <div class="card rounded-top-5 h-100">
          <div class="card-header bg-success-subtle border border-success rounded-pill">
            <label for="projects" class="form-label mb-0">Register:</label>
          </div>

          <div class="card-body">
            <!-- Registration form -->
            <form action="/mossletters/login/register" method="post">

              <label for="first-name">First Name:</label>          
              <input type="text" id="first-name" name="first-name" autocomplete="given-name" class="form-control focus-ring focus-ring-warning">              
              
              <div class="validation-block bg-danger-subtle text-danger border border-danger m-2 invisible" id="first-name-warnings">    
                <p class="warning m-0 text-center invisible" id="first-name-empty">- First Name is required</p>
                <p class="warning m-0 text-center invisible" id="first-name-formatting">- Only alphabet letters are permitted</p>
              </div>

              <label for="last-name">Last Name:</label>
              <input type="text" id="last-name" name="last-name" autocomplete="family-name" class="form-control focus-ring focus-ring-warning">
              <div class="validation-block bg-danger-subtle text-danger border border-danger m-2 invisible" id="last-name-warnings">    
                <p class="warning m-0 text-center invisible" id="last-name-empty">- First Name is required</p>
                <p class="warning m-0 text-center invisible" id="last-name-formatting">- Only alphabet letters are permitted</p>
              </div>

              <label for="email">Email:</label>          
              <input type="text" id="email" name="email" autocomplete="email" class="form-control focus-ring focus-ring-warning">

              <div class="validation-block bg-danger-subtle text-danger border border-danger m-2 invisible" id="email-warnings">    
                <p class="warning m-0 text-center invisible" id="email-empty">- Email field is required</p>
                <p class="warning m-0 text-center invisible" id="email-formatting">- Email must contain an "@" and a period "."</p>
              </div>

              <label for="new-password">Password:</label>          
              <input type="password" id="new-password" name="new-password" autocomplete="new-password" class="form-control focus-ring focus-ring-warning">              

              <div class="validation-block bg-danger-subtle text-danger border border-danger m-2 invisible" id="new-password-warnings"> 
                <p class="warning m-0 text-center invisible" id="password-empty">- Password field is required</p>
                <p class="warning m-0 text-center invisible" id="password-short">- Password must be at least 8 characters</p>
                <p class="warning m-0 text-center invisible" id="password-case-formatting">-Password must contain at least one upper case letter and one lower case letter</p>          
                <p class="warning m-0 text-center invisible" id="password-numeral-formatting">-Password must contain at least one numeral</p> 
                <p class="warning m-0 text-center invisible" id="password-symbol-formatting">-Password must contain at least one symbol &lpar;except for "&#35;" or "."</p> 
              </div>

              <label for="password-confirm">Password again:</label>
              <input type="password" id="password-confirm" name="password-confirm" autocomplete="off" class="form-control focus-ring focus-ring-warning">

              <div class="validation-block bg-danger-subtle text-danger border border-danger m-2 invisible" id="password-confirm-warnings">    
                <p class="warning m-0 text-center invisible" id="password-confirm-empty">- Password Confirmation field is required</p>  
                <p class="warning m-0 text-center invisible" id="password-matches">-Passwords must match</p> 
              </div>
              <button type="submit" class="btn btn-success m-4" id="admin-register-button" disabled>
                Register
              </button>        
            </form>                  
          </div>                                            
        </div> 
      </div>    
    </div>
  </div> 
</div>
<script type="module" src="/mossletters/assets/js/LoginValidation.js"></script>        
